.mobileMenuClose {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: calc(100vh - 72px);
  background-color: white;
  overflow: auto;
  z-index: 5;
  transition: 0.4s;
  transform: translateX(101%);
}

.mobileMenuOpen {
  transform: translateX(0%);
  transition: 0.4s;
}
