@media screen and (max-width: 767px) {
    .container_question{
        padding-top: 25px;
        padding-bottom: 35px;
    }
    .questions_title{
        margin-bottom: 25px;
    }
    .questions_detailsContainer{
        margin-bottom: 44px;
    }
    .li_question:not(:last-child){
        margin-bottom: 58px;
    }
    .summary_question{
        display: flex;
        align-items: center;
        font-family: var(--font);
        font-size: 20px;
        font-weight: var(--l-fw);
        -moz-user-select: none;
        -khtml-user-select: none;
        user-select: none;
        transition: 0.5s;
    }
    .summary_question:hover{
        color: var(--b-orange);
        cursor: pointer;
        transition: 0.5s;
    }
    .summary_question:before {
        content: '+';
        margin-right: 20px;
        font-weight: var(--r-fw);
        font-size: 50px;
      }
    .detail_question[open] .summary_question:before {
        content: '×';
        margin-right: 20px;
        font-weight: var(--r-fw);
        color: var(--b-orange);
        font-size: 50px;
    }
    .summary_question::-webkit-details-marker {
        display:none;
    }

    .form_ask_a_question{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .h3_ask_a_question{
        font-family: var(--font);
        font-style: normal;
        font-weight: var(--l-fw);
        font-size: 24px;
        text-align: center;
        margin-bottom: 17px;
    }
    .input_ask_a_question{
        width: 284px;
        height: 46px;
        border: 1px solid var(--b-orange);
        border-radius: 2px;
        margin-bottom: 18px;
        padding: 1px 2px 1px 10px;
        box-sizing: border-box;
    }
    .input_ask_a_question::placeholder{
        font-family: var(--font);
        font-style: normal;
        font-weight: var(--l-fw);
        font-size: 14px;
        color: #808080;
    }
    .btn_ask_a_question{
        width: 120px;
        height: 30px;
        font-family: var(--font);
        font-style: normal;
        font-weight: var(--l-fw);
        font-size: 16px;
        background: var(--b-orange);
        border-radius: 2px;
        border: none;
        color: black;
        padding: 0;
    }
    .questions_titleBack{
        display: none;
    }
}
@media (max-width: 1200px) and (min-width: 768px) {
    .container_question{
        padding-top: 70px;
        padding-bottom: 75px;
    }
    .questions_title{
        margin-bottom: 80px;
    }
    .questions_detailsContainer{
        margin-bottom: 157px;
    }
    .summary_question:before {
        content: '+';
        margin-right: 49px;
        font-weight: var(--r-fw);
        font-size: 80px;
      }
    .detail_question[open] .summary_question:before {
        content: '×';
        margin-right: 49px;
        font-weight: var(--r-fw);
        color: var(--b-orange);
        font-size: 80px;
    }
    .summary_question{
        display: flex;
        align-items: center;
        font-family: var(--font);
        font-size: 36px;
        font-weight: var(--l-fw);
        -moz-user-select: none;
        -khtml-user-select: none;
        user-select: none;
        transition: 0.5s;
        outline: none;
        list-style: none;
    }
    .summary_question:focus, .summary_question:active{
        outline: none;
    }
    .summary_question:hover{
        color: var(--b-orange);
        cursor: pointer;
        transition: 0.5s;
    }
    .summary_question::-webkit-details-marker {
        display:none;
    }
    .form_ask_a_question{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .h3_ask_a_question{
        font-family: var(--font);
        font-style: normal;
        font-weight: var(--l-fw);
        font-size: 36px;
        text-align: center;
        margin-bottom: 42px;
    }
    .input_ask_a_question{
        width: 457px;
        height: 74px;
        border: 1px solid var(--b-orange);
        border-radius: 2px;
        margin-bottom: 42px;
        padding: 1px 2px 1px 23px;
        box-sizing: border-box;
    }
    .input_ask_a_question::placeholder{
        font-family: var(--font);
        font-style: normal;
        font-weight: var(--l-fw);
        font-size: 20px;
        line-height: 160.2%;
        color: #808080;
    }
    .btn_ask_a_question{
        width: 281px;
        height: 62px;
        font-family: var(--font);
        font-style: normal;
        font-weight: var(--l-fw);
        font-size: 36px;
        background: var(--b-orange);
        border-radius: 2px;
        border: none;
        color: black;
        padding: 0;
    }
    .questions_titleBack{
        display: none;
    }
}
@media screen and (min-width: 1201px) {
    .container_question{
        padding-top: 40px;
        padding-bottom: 90px;
    }
    .questions_titleContainer{
        position: relative;
        font-style: normal; 
        margin-bottom: 126px;
    }
    .questions_detailsContainer{
        margin-bottom: 181px;
    }
    .questions_titleBack{
        font-weight: var(--r-fw);
        font-family: var(--font);
        font-size: 96px;
        line-height: 89px;
        color: rgba(252, 103, 1, 0.04);
        margin-bottom: 46px;
    }
    .detail_question{
        webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    .questions_title{
        position: absolute;
        bottom: -5px;
        left: 95px;
    }
    .summary_question:before {
        content: '+';
        margin-right: 47px;
        font-weight: var(--r-fw);
        font-size: 100px;
      }
    .detail_question[open] .summary_question:before {
        content: '×';
        margin-right: 47px;
        font-weight: var(--r-fw);
        color: var(--b-orange);
        font-size: 100px;
    }
    .summary_question{
        display: flex;
        align-items: center;
        font-family: var(--font);
        font-size: 36px;
        font-weight: var(--l-fw);
        -moz-user-select: none;
        -khtml-user-select: none;
        user-select: none;
        transition: 0.5s;
        outline: none;
        list-style: none;
        
    }
    .summary_question:focus, .summary_question:active{
        outline: none;
    }
    .summary_question:hover{
        color: var(--b-orange);
        cursor: pointer;
        transition: 0.5s;
    }
    .summary_question::-webkit-details-marker {
        display:none;
    }
    .form_ask_a_question{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .h3_ask_a_question{
        font-family: var(--font);
        font-style: normal;
        font-weight: var(--l-fw);
        font-size: 48px;
        line-height: 160.2%;
        text-align: center;
        margin-bottom: 28px;
    }
    .input_ask_a_question{
        width: 631px;
        height: 74px;
        border: 1px solid var(--b-orange);
        border-radius: 2px;
        margin-bottom: 42px;
        padding: 1px 2px 1px 20px;
        box-sizing: border-box;
    }
    .input_ask_a_question::placeholder{
        font-family: var(--font);
        font-style: normal;
        font-weight: var(--l-fw);
        font-size: 24px;
        line-height: 160.2%;
        color: #808080;

    }

    .btn_ask_a_question{
        width: 281px;
        height: 62px;
        font-family: var(--font);
        font-style: normal;
        font-weight: var(--l-fw);
        font-size: 36px;
        line-height: 160.2%;
        background: var(--b-orange);
        border-radius: 2px;
        border: none;
        color: black;
        padding: 0;
    }
    
}