.plus_icon_question{
    font-family: var(--font);
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    margin-right: 20px;
    line-height: 33px;
}

.h2_question{
    margin-bottom: 58px;
}
.li_question{
    -webkit-tap-highlight-color: rgba(8, 210, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

.li_question:not(:last-child){
    margin-bottom: 40px;
}
.summary_question{
    display: flex;
    align-items: center;
    font-family: var(--font);
    font-size: 20px;
    font-weight: var(--l-fw);
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    transition: 0.5s;
}
.summary_question:hover{
    color: var(--b-orange);
    cursor: pointer;
    transition: 0.5s;
}
.summary_question::-webkit-details-marker {
    display:none;
}
.summary_question{
    transition: 0.5s ease;
}
.detail_question {
    transition: height 0.5s ease;
  }
.detail_question:not([open]) { height: 1.25em; }
.detail_question[open] { height: 3.75em; }
