.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgb(255, 255, 255);
  z-index: 100;
}

.container_productFullInfo{
  padding-top: 10px;
  padding-bottom: 50px;
}

.productFullInfo_image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productFullInfo_image_container{
  width: 100%;
  margin-bottom: 50px;
  position: relative;
}

.productFullInfo_rotationLeft_container {
  position: absolute;
  left: 0;
  top:0;
  display: flex;
  align-items: center;
  height: 100%;
  width: 15%;
  z-index: 3;
}
.right{
  position: absolute;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #000000;
  color: white;
  border: 1px solid black;
  font-size: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.left{
  position: absolute;
  left: 20px;
  width: 40px;
  height: 40px;
  background-color: #000000;
  border: 1px solid black;
  font-size: 30px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.select_shoe_size_ProductFullInfo{
  width: 112px;
  height: 24px;
  opacity: 0.7;
  border: 1px solid #808080;
  border-radius: 2px;
  margin-bottom: 30px;
}
.select_shoe_size_ProductFullInfo:focus,
.select_shoe_size_ProductFullInfooption_shoe_size_ProductFullInfo:hover,
.option_shoe_size_ProductFullInfo:hover,
.option_shoe_size_ProductFullInfo:focus {
  outline:none;
  border: 1px solid #D9D9D9;
}
.option_shoe_size_ProductFullInfo{
  background-color: #ffffff;
  border: none;
  border-radius: 2px;
}
.productFullInfo_rotationRight_container {
  position: absolute;
  display: flex;
  align-items: center;
  right: 0;
  top: 0;
  height: 100%;
  width: 15%;
  z-index: 3;
}

.productFullInfo_name_product{
  font-family: var(--font);
  font-style: normal;
  font-weight: var(--r-fw);
  font-size: var(--h2-size);
  line-height: 36px;
  color: #000000;
  margin-bottom: 10px;
}
.productFullInfo_price_product{
  font-family: var(--font);
  font-style: normal;
  font-weight: var(--l-fw);
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 7px;
}
.productFullInfo_shoe_description{
  font-family: var(--font);
  font-style: normal;
  font-weight: var(--l-fw);
  font-size: 14px;
  line-height: 21px;
  color: #808080;
  margin-bottom: 28px;
}
.productFullInfo_color_model{
  font-family: var(--font);
  font-style: normal;
  font-weight: var(--l-fw);
  font-size: 14px;
  line-height: 21px;
  color: #808080;
  margin-bottom: 20px;
}
.productFullInfo_shoe_size{
  font-family: var(--font);
  font-style: normal;
  font-weight: var(--l-fw);
  font-size: 14px;
  line-height: 21px;
  color: #808080;
  margin-bottom: 10px;
}

.productFullInfo_input_size{
  width: 112px;
  height: 24px;
  border: 1px solid #808080;
  color: #808080;
  border-radius: 2px;
  margin-bottom: 29px;
}
.productFullInfo_addToBasket_btn{
  width: 100%;
  height: 70px;
  border: none;
  font-family: var(--font);
  font-style: normal;
  font-weight: var(--r-fw);
  font-size: var(--h2-size);
  line-height: 36px;
  background-color: #FB6702;
  color: #000000;
}

.some:active {
   border: 1px solid red; 
}

.productFullInfo_back_btn{
  background-color: #00000000;
  color: black;
  border: none;
  font-family: var(--font);
  font-weight: var(--r-fw);
  font-size: 18px;
  padding: 0;
  margin-bottom: 25px;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}