@media screen and (max-width: 767px) {
    .container_reviews{
        display: flex;
        flex-direction: column;
        padding-top: 25px;
        padding-bottom: 50px;
    }
    .reviews_h2{
        margin-bottom: 58px;
    }
    .iphone_img_reviews{
        width: 156px;
        height: 300px;
        margin-bottom: 40px;
    }
    .div_rest_reviews{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .see_more_reviews{
        font-family: var(--font);
        font-style: normal;
        font-weight: var(--l-fw);
        font-size: 20px;
        line-height: 160.2%;
        margin-bottom: 48px;
        color: #808080;
    }
    .form_reviews{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .give_feedback_reviews{
        font-family: var(--font);
        font-style: normal;
        font-weight: var(--l-fw);
        font-size: 24px;
        text-align: center;
        margin-bottom: 17px;
    }
    .input_reviews{
        width: 280px;
        height: 45px;
        border: 1px solid var(--b-orange);
        border-radius: 2px;
        margin-bottom: 18px;
        padding: 0px 0px 0px 7px;
    }
    .input_reviews::placeholder{
        font-family: var(--font);
        font-style: normal;
        font-weight: var(--l-fw);
        font-size: 14px;
        color: #808080;
    }
    .send_btn_reviews{
        width: 120px;
        height: 30px;
        font-family: var(--font);
        font-style: normal;
        font-weight: var(--l-fw);
        font-size: 16px;
        background: var(--b-orange);
        border-radius: 2px;
        border: none;
        color: black;
    }
    .iphoneDesktop_img_reviews, .reviews_bigH2{
        display: none;
    }
}
@media (max-width: 1200px) and (min-width: 768px) {
    .container_reviews{
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 100px;
    }
    .reviews_h2{
        margin-bottom: 82px;
    }
    .iphone_img_reviews{
        width: 489.67px;
        height: 979.33px;
        margin-bottom: 77px;
    }
    .div_rest_reviews{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .see_more_reviews{
        font-family: var(--font);
        font-style: normal;
        font-weight: var(--l-fw);
        font-size: 36px;
        line-height: 160.2%;
        margin-bottom: 157px;
        color: #808080;
    }
    .form_reviews{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .give_feedback_reviews{
        font-family: var(--font);
        font-style: normal;
        font-weight: var(--l-fw);
        font-size: 36px;
        text-align: center;
        margin-bottom: 42px;
    }
    .input_reviews{
        width: 457px;
        height: 74px;
        border: 1px solid var(--b-orange);
        border-radius: 2px;
        margin-bottom: 42px;
    }
    .send_btn_reviews{
        width: 281px;
        height: 62px;
        font-family: var(--font);
        font-style: normal;
        font-weight: var(--l-fw);
        font-size: 36px;
        background: var(--b-orange);
        border-radius: 2px;
        border: none;
        color: black;
    }
    .iphoneDesktop_img_reviews, .reviews_bigH2{
        display: none;
    }
}
@media screen and (min-width: 1201px) {
    .container_reviews{
        display: flex;
        flex-direction: column;
        padding-top: 60px;
        padding-bottom: 150px;
    }
    .iphone_img_reviews{
        display: none;
    }
    .div_rest_reviews{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form_reviews{
        display: none;
    }
    .see_more_reviews{
        display: none;
    }
    .reviews_bigH2_container{
        display: inline-block;
        position: relative;
        font-style: normal;
        font-weight: var(--r-fw);
        font-family: var(--font);
        font-size: 96px;
        line-height: 89px;
        color: rgba(252, 103, 1, 0.04);
    }
    .reviews_h2{
        position: absolute;
        bottom: -27px;
        right: 0px;
    }
}