@media screen and (max-width: 767px) {
    .screen{
        background: url('./screen_bg-img.jpg');
        background-size: cover;
        height: 215px;
    }
}
@media (max-width: 1200px) and (min-width: 768px) {
    .screen{
        background: url('./screen_bg-img.jpg');
        background-size: cover;
        height: 400px;
    }
}