@media screen and (max-width: 767px) {
  .mobile_header_active {
    background-color: white;
    transition: 0.4s;
    width: 100vw;
    position: relative;
    z-index: 5;
  }

  .mobile_header_passive {
    transition: 0.4s;
    position: relative;
      z-index: 5;
  }

  .header_container {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header_logo {
    width: 100px;
  }
  .header_menu_container{
    display: none;
  }
}
@media (max-width: 1200px) and (min-width: 768px) {
  .mobile_header_active {
    background-color: white;
    transition: 0.4s;
    width: 100vw;
    position: relative;
    z-index: 5;
  }

  .mobile_header_passive {
    transition: 0.4s;
    position: relative;
    z-index: 5;
  }

  .header_container {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header_logo {
    width: 217px;
  }
  .header_menu_container{
    display: none;
  }
}
@media screen and (min-width: 1201px) {
  .header_container {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 5;
  }
  .header_logo {
    width: 240px;
  }
  .header_container_themeBtn{
    margin-right: 160px;
  }
  .hamburger-react{
    display: none;
  }
  .header_ul{
    display: flex;
    margin-right: 132px;
  }
  .header_li:not(:last-child){
    margin-right: 44px;
  }

  .header_element_menu{
    font-family: var(--font);
    font-style: normal;
    font-weight: var(--r-fw);
    font-size: 23px;
    line-height: 34px;
    color: var(--b-orange);
  }
  .header_menu_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header_whiteThemeBtn{
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid black;  
    background-color: white;
  }
  .header_orangeThemeBtn{
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid black;  
    background-color: #FC6701;
  }
  .header_blackThemeBtn{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid black; 
    background-color: #4A4A4A; 
  }
  
}