 /* .catalog_products-container {

}  */
  .cell {
    display: flex;
    flex-direction: column;
    align-items: center;
}  

.productList_image_container{
    width: 160px;
    height: 160px;
}
.productList_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.productList_name_product{
    font-family: var(--font);
    font-style: normal;
    font-weight: var(--l-fw);
    font-size: 14px;
    line-height: 36px;
    color: #000000;
    margin-bottom: 10px;
}
.productList_price_product{
    font-family: var(--font);
    font-style: normal;
    font-weight: var(--l-fw);
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}