@media screen and (max-width: 767px) {
  .bullets-container {
    display: flex;
    justify-content: center;
  }

  .bullets {
    width: 6px;
    height: 6px;
    border: solid 3px #5a5a5a;

    border-radius: 50%;
  }

  .activeBullet {
    background-color: #5a5a5a;
    width: 6px;
    height: 6px;
    border: solid 3px #5a5a5a;
    border-radius: 50%;
  }

  .bullets:not(:last-child) {
    margin-right: 5px;
  }

  .activeBullet:not(:last-child) {
    margin-right: 5px;
  }

  .pagination {
    width: 20px;
    height: 20px;
    color: red;
  }

  .carousel {
    overflow: hidden;
  }
  .carousel-item {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    flex-wrap: wrap;
    z-index: 10;
    justify-content: space-around;
  }

  .carousel-inner {
    display: flex;
    margin-bottom: 30px;
    transition: transform 1s linear;
    z-index: 10;
  }
}

@media (max-width: 1200px) and (min-width: 768px) {
  .bullets-container {
    display: flex;
    justify-content: center;
  }

  .bullets {
    width: 10px;
    height: 10px;
    background-color: grey;
    opacity: 0.5;
    border-radius: 50%;
  }

  .bullets:not(:last-child) {
    margin-right: 5px;
  }

  .carousel {
    overflow: hidden;
  }
  .carousel-item {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    flex-wrap: wrap;
    z-index: 10;
    justify-content: space-around;
  }

  .carousel-inner {
    display: flex;
    margin-bottom: 30px;
    transition: transform 1s linear;
    z-index: 10;
  }
}

@media screen and (min-width: 1201px) {
  .bullets-container {
    display: flex;
    justify-content: center;
  }

  .bullets {
    width: 10px;
    height: 10px;
    background-color: grey;
    opacity: 0.5;
    border-radius: 50%;
  }

  .bullets:not(:last-child) {
    margin-right: 5px;
  }

  .carousel {
    overflow: hidden;
  }
  .carousel-item {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    flex-wrap: wrap;
    z-index: 10;
    justify-content: space-around;
  }

  .carousel-inner {
    display: flex;
    margin-bottom: 30px;
    transition: transform 1s linear;
    z-index: 10;
  }
}
