@media screen and (max-width: 767px) {

    .catalogHead_container{
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .catalogHead_menu li{
        position: relative;
    }
    .catalogHead_menu_element_list:hover .catalogHead_dropdown_list{
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        transition: 0.2s;
    }
    .catalogHead_menu_element_list{
        display: inline-block;
    }
    .catalogHead_menu_element_list:not(:last-child){
        margin-right: 42px;
    }
    .catalogHead_menu_brand{
        font-family: var(--font);
        font-style: normal;
        font-weight: var(--l-fw);   
        font-size: 20px;    
        line-height: 30px; 
        color: black;
        display: inline-block;
    }
    .catalogHead_titleBack{
        display: none;
    }
    .catalogHead_dropdown_list{
        transition: 0.2s;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        position: absolute;
        left: -54.5px;
        top: 40px;
        padding: 10px 10px;
        z-index: 11;
    }
    .catalogHead_dropdown_list_background{
        background-color: rgb(255, 255, 255);
        box-shadow: 3px 3px 13px rgba(252, 103, 1, 0.15);
        width: 130px;
        text-align: center;
        padding: 15px;
        box-sizing: border-box;
    }
    .catalogHead_sub_menu_link{
        font-family: var(--font);
        font-style: normal;
        font-weight: var(--l-fw);
        font-size: 20px;
        line-height: 71px;
        color: black;
    }

}
@media (max-width: 1200px) and (min-width: 768px) {
    .catalog_filter_li{
        font-family: var(--font);
        font-style: normal;
        font-weight: var(--r-fw);
        font-size: 36px;
        line-height: 23px;
        color: #000000;
    }
    .catalogHead_container{
        margin-bottom: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .catalogHead_menu{}
    .catalogHead_menu li{
        position: relative;
    }
    .catalogHead_menu_element_list:hover .catalogHead_dropdown_list{
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        transition: 0.2s;
    }
    .catalogHead_menu_element_list{
        display: inline-block;
    }
    .catalogHead_menu_element_list:not(:last-child){
        margin-right: 36px;
    }
    .catalogHead_titleBack{
        display: none;
    }
    .catalogHead_menu_brand{
        font-family: var(--font);
        font-style: normal;
        font-weight: var(--l-fw);   
        font-size: 36px;    
        line-height: 71px;  
        color: black;
        display: inline-block;
    }
    .catalogHead_dropdown_list{
        transition: 0.2s;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        position: absolute;
        left: -77px;
        top: 60px;
        padding: 20px 20px;
        z-index: 11;
    }
    .catalogHead_dropdown_list_background{
        background-color: rgb(255, 255, 255);
        box-shadow: 3px 3px 13px rgba(252, 103, 1, 0.15);
        padding: 15px;
        width: 190px;
        box-sizing: border-box;
        text-align: center;
    }
    .catalogHead_sub_menu_link{
        font-family: var(--font);
        font-style: normal;
        font-weight: var(--l-fw);
        font-size: 36px;
        line-height: 80px;
        color: black;
    }
}
@media screen and (min-width: 1201px) {
    .catalog_filter_li{
        font-family: var(--font);
        font-style: normal;
        font-weight: var(--r-fw);
        font-size: 24px;
        line-height: 36px;
        color: #000000;
    }
    .catalogHead_container{
        margin-bottom: 68px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .catalog_filter_li {
        font-family: var(--font);
        font-weight: var(--l-fw);
    }
    .catalog_filter_li:not(:last-child){
        margin-right: 87px;
    }
    .catalogHead_titleContainer{
        display: inline-block;
        position: relative;
        margin-right: 40px;
    }
    .catalogHead_titleBack{
        font-style: normal;
        font-weight: var(--r-fw);
        font-family: var(--font);
        font-size: 96px;
        line-height: 89px;
        color: rgba(252, 103, 1, 0.04);
    }
    .catalogHead_title{
        position: absolute;
        bottom: -5px;
        right: 0px;
    }
    .catalogHead_menu{}
    .catalogHead_menu li{
        position: relative;
    }
    .catalogHead_menu_element_list:hover .catalogHead_dropdown_list{
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        transition: 0.2s;
    }
    .catalogHead_menu_element_list{
        display: inline-block;
    }
    .catalogHead_menu_element_list:not(:last-child){
        margin-right: 40px;
    }

    .catalogHead_menu_brand{
        font-family: var(--font);
        font-style: normal;
        font-weight: var(--l-fw);   
        font-size: 48px;    
        line-height: 71px;  
        color: black;
        display: inline-block;
        cursor: pointer;
    }
    .catalogHead_dropdown_list{
        transition: 0.2s;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        position: absolute;
        left: -83px;
        top: 60px;
        padding: 20px 20px;
        z-index: 11;
    }
    .catalogHead_dropdown_list_background{
        background-color: rgb(255, 255, 255);
        box-shadow: 3px 3px 13px rgba(252, 103, 1, 0.15);
        padding: 15px;
        width: 220px;
        text-align: center;
        box-sizing: border-box;
    }
    .catalogHead_sub_menu_link{
        font-family: var(--font);
        font-style: normal;
        font-weight: var(--l-fw);
        font-size: 48px;
        line-height: 100px;
        color: black;
    }
