@media screen and (max-width: 767px) {

    .catalog_head{
        margin-bottom: 15px;
        display: flex;
        justify-content: space-around;
    }
    .catalog_filter_container {
        display: flex;
        align-items: center;
    }

    .catalog_filter_li {
        font-family: var(--font);
        font-weight: var(--l-fw);
    }
    .catalog_filter_li:not(:last-child){
        margin-right: 36px;
    }
    .catalog_bigH2{
        display: none;
    }
    .menu{}
    .menu li{
        position: relative;
    }
    .menu__list>li:hover .sub-menu__list{
        display: block;
    }

    .menu__link{
        font-family: var(--font);
        font-style: normal;
        font-weight: var(--l-fw);
        font-size: 14px;
        line-height: 71px;
        color: black;
    }
    .sub-menu__list{
        display: none;
        position: absolute;
        left: -40px;
        top: 50px;
        padding: 20px 20px;
        z-index: 11;
    }
    .cont_sub-menu__list{
        background-color: rgb(255, 255, 255);
        box-shadow: 3px 3px 13px rgba(252, 103, 1, 0.15);
        padding: 15px 30px;
    }
    .sub-menu__link{
        font-family: var(--font);
        font-style: normal;
        font-weight: var(--l-fw);
        font-size: 14px;
        line-height: 71px;
        color: black;
    }

}
@media (max-width: 1200px) and (min-width: 768px) {
    .catalog_filter_li{
        font-family: var(--font);
        font-style: normal;
        font-weight: var(--r-fw);
        font-size: 36px;
        line-height: 23px;
        color: #000000;
    }
    .catalog_head{
        margin-bottom: 25px;
        display: flex;
        justify-content: space-around;
    }
    .catalog_filter_container {
        display: flex;
        align-items: center;
    }

    .catalog_filter_li {
        font-family: var(--font);
        font-weight: var(--l-fw);
    }
    .catalog_filter_li:not(:last-child){
        margin-right: 36px;
    }
    .catalog_bigH2{
        display: none;
    }
    .menu{}
    .menu li{
        position: relative;
    }
    .menu__list>li:hover .sub-menu__list{
        display: block;
    }

    .menu__link{
        font-family: var(--font);
        font-style: normal;
        font-weight: var(--l-fw);
        font-size: 48px;
        line-height: 71px;
        color: black;
    }
    .sub-menu__list{
        display: none;
        position: absolute;
        left: -40px;
        top: 50px;
        padding: 20px 20px;
        z-index: 11;
    }
    .cont_sub-menu__list{
        background-color: rgb(255, 255, 255);
        box-shadow: 3px 3px 13px rgba(252, 103, 1, 0.15);
        padding: 15px 30px;
    }
    .sub-menu__link{
        font-family: var(--font);
        font-style: normal;
        font-weight: var(--l-fw);
        font-size: 36px;
        line-height: 71px;
        color: black;
    }
}
@media screen and (min-width: 1201px) {
    .catalog_filter_li{
        font-family: var(--font);
        font-style: normal;
        font-weight: var(--r-fw);
        font-size: 24px;
        line-height: 36px;
        color: #000000;
    }
    .catalog_head{
        margin-bottom: 68px;
        display: flex;
        justify-content: space-around;
    }
    .catalog_filter_container {
        display: flex;
        align-items: flex-end;
    }
    .catalog_filter_li {
        font-family: var(--font);
        font-weight: var(--l-fw);
    }
    .catalog_filter_li:not(:last-child){
        margin-right: 87px;
    }
    .catalogHead_bigH2_container{
        display: inline-block;
        position: relative;
        font-style: normal;
        font-weight: var(--r-fw);
        font-family: var(--font);
        font-size: 96px;
        line-height: 89px;
        color: rgba(252, 103, 1, 0.04);
        margin-right: 40px;
    }
    .catalogHead_h2{
        position: absolute;
        bottom: -27px;
        right: 0px;
    }
    .menu{}
    .menu li{
        position: relative;
    }
    .menu__list>li:hover .sub-menu__list{
        display: block;
    }

    .menu__link{
        font-family: var(--font);
        font-style: normal;
        font-weight: var(--l-fw);   
        font-size: 48px;    
        line-height: 71px;  
        color: black;
    }
    .sub-menu__list{
        display: none;
        position: absolute;
        left: -40px;
        top: 60px;
        padding: 20px 20px;
        z-index: 11;
    }
    .cont_sub-menu__list{
        background-color: rgb(255, 255, 255);
        box-shadow: 3px 3px 13px rgba(252, 103, 1, 0.15);
        padding: 15px 30px;
    }
    .sub-menu__link{
        font-family: var(--font);
        font-style: normal;
        font-weight: var(--l-fw);
        font-size: 48px;
        line-height: 71px;
        color: black;
    }

}
