@media screen and (max-width: 767px) {
  .container_AboutMe{
      padding-top: 25px;
      padding-bottom: 25px;
  }
  .h2_AboutMe{
      margin-bottom: 20px;
  }
  .txt_AboutMe{
    font-size: var(--h2-size);
    font-weight: var(--r-fw);
    font-family: var(--font);
  }
  .aboutMe_bigH2{
    display: none;
  }
}
@media (max-width: 1200px) and (min-width: 768px) {
  .container_AboutMe{
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .h2_AboutMe{
    margin-bottom: 30px;
  }
  .txt_AboutMe{
    font-size: 32px;
    font-weight: var(--l-fw);
    font-family: var(--font);
  }
  .aboutMe_bigH2{
    display: none;
  }
}
@media screen and (min-width: 1201px) {
  .container_AboutMe{
    padding-top: 200px;
    padding-bottom: 300px;
  }
  .aboutMe_screen{
    background: rgba(196, 196, 196, 0.5);
    box-sizing: border-box;
  }
  .aboutMe_h2{
    position: absolute;
    bottom: -27px;
    right: 0px;
  }
  .txt_AboutMe{
    display: none;
  }
  .aboutMe_bigH2_container{
    display: inline-block;
    position: relative;
    font-style: normal;
    font-weight: var(--r-fw);
    font-family: var(--font);
    font-size: 96px;
    line-height: 89px;
    color: rgba(252, 103, 1, 0.04);
  }
}