.container_AboutMe{
    padding-top: 50px;
    padding-bottom: 50px;
}
.h2_AboutMe{
    margin-bottom: 20px;
}
.txt_AboutMe{
  font-size: var(--h2-size);
  font-weight: var(--r-fw);
  font-family: var(--font);
}